* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;

}

.content {
    width: 100%;
    max-width: 100%; 
    margin: 0;
    padding: 0 0px;
}

nav {
    width: 73%;
    padding: 1%;
}

.heroImg {
    height: 600px;
    padding: 25px;
}


footer {
    background-color: #373738;
    padding: 10px;
}


footer li {
    padding: 0 10px;
    color: white;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 50px 25px;
}

